



<div class="jumbotron">
  <h1 class="display-4"></h1>
  <p class="lead"><%= render @friend %></p>
  <hr class="my-4">
  
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %> |
  <%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>

  <br><br>

  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-outline-danger" %>
</div>
