<h1>New ruby rails tutorial 1</h1>

<%= render "form", ruby_rails_tutorial_1: @ruby_rails_tutorial_1 %>

<br>

<div>
  <%= link_to "Back to ruby rails tutorial 1s", ruby_rails_tutorial_1s_path %>
</div>
